*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%; }

body {
  min-height: 100%;
  width: 100%; }

nav ul, aside ul {
  list-style: none;
  padding-left: 0; }

/* LINK BASIC */
a {
  text-decoration: none;
  color: #353535; }

/* paragraphe and title basic */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  text-rendering: optimizeLegibility;
  font-family: "roboto" serif;
  font-weight: lighter; }

h2 {
  color: #a6a6a6;
  font-size: 1.875rem; }

h3 {
  font-size: 1.875rem;
  margin-bottom: 0; }

h4 {
  font-size: 1rem;
  margin-bottom: 0.625rem; }

h5 {
  font-weight: 500;
  font-size: 0.75rem;
  margin-bottom: 0; }

hr {
  width: 100%;
  border: none;
  height: 0.0625rem; }

.content {
  width: 100%;
  line-height: 1.4; }
  .content p {
    color: #353535; }
  .content h4 {
    color: #737373;
    font-size: 0.875rem; }

/* utilities class */
.hide {
  display: none; }

header[role="banner"] .go-right, .wrap > section .go-right, .wrap .row .go-right {
  margin-left: auto; }
header[role="banner"] .full, .wrap > section .full, .wrap .row .full {
  -webkit-flex: 1;
  flex: 1; }
header[role="banner"] .unbreak, .wrap > section .unbreak, .wrap .row .unbreak {
  -webkit-flex-shrink: 0;
  flex-shrink: 0; }

header[role="banner"], .wrap > section, .wrap .row, .wrap > section > header, .wrap .row > header, header[role="banner"] nav ul, .button, button, main, .wrap, section.simple {
  display: -webkit-flex;
  display: flex; }

body, aside.main .nav-section > li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }

header[role="banner"], .wrap > section, .wrap .row, .wrap > section > header, .wrap .row > header {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

header[role="banner"] nav ul, .button, button {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

/* @include font-face-bb('GandhiSans', '../ft/GandhiSans-Regular-webfont');
@include font-face-bb('GandhiSans', '../ft/GandhiSans-Italic-webfont', normal, italic);
@include font-face-bb('GandhiSans', '../ft/GandhiSans-Bold-webfont',bold);
@include font-face-bb('GandhiSans', '../ft/GandhiSans-BoldItalic-webfont', bold, italic);
 */
@font-face {
  font-family: "roboto";
  src: url("../ft/robotoslab-thin_0-webfont.eot");
  src: url("../ft/robotoslab-thin_0-webfont.eot?#iefix") format("embedded-opentype"), url("../ft/robotoslab-thin_0-webfont.woff") format("woff"), url("../ft/robotoslab-thin_0-webfont.ttf") format("truetype"), url("../ft/robotoslab-thin_0-webfont.svg#roboto") format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "roboto";
  src: url("../ft/robotoslab-light_0-webfont.eot");
  src: url("../ft/robotoslab-light_0-webfont.eot?#iefix") format("embedded-opentype"), url("../ft/robotoslab-light_0-webfont.woff") format("woff"), url("../ft/robotoslab-light_0-webfont.ttf") format("truetype"), url("../ft/robotoslab-light_0-webfont.svg#roboto") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "roboto";
  src: url("../ft/robotoslab-regular_0-webfont.eot");
  src: url("../ft/robotoslab-regular_0-webfont.eot?#iefix") format("embedded-opentype"), url("../ft/robotoslab-regular_0-webfont.woff") format("woff"), url("../ft/robotoslab-regular_0-webfont.ttf") format("truetype"), url("../ft/robotoslab-regular_0-webfont.svg#roboto") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "asap";
  src: url("../ft/asap-bold-webfont.eot");
  src: url("../ft/asap-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../ft/asap-bold-webfont.woff") format("woff"), url("../ft/asap-bold-webfont.ttf") format("truetype"), url("../ft/asap-bold-webfont.svg#asap") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "asap";
  src: url("../ft/asap-regular-webfont.eot");
  src: url("../ft/asap-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../ft/asap-regular-webfont.woff") format("woff"), url("../ft/asap-regular-webfont.ttf") format("truetype"), url("../ft/asap-regular-webfont.svg#asap") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "icon-oniris";
  src: url("../icons/icon-oniris.eot");
  src: url("../icons/icon-oniris.eot?#iefix") format("embedded-opentype"), url("../icons/icon-oniris.woff") format("woff"), url("../icons/icon-oniris.ttf") format("truetype"), url("../icons/icon-oniris.svg#icon-oniris") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"]:before,
[class*=" icon-"]:before, aside.main .nav-section > li > a:after {
  font-family: "icon-oniris" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-info:before {
  content: "a"; }

.icon-link:before {
  content: "b"; }

.icon-maison:before {
  content: "c"; }

.icon-more:before {
  content: "d"; }

.icon-search:before {
  content: "e"; }

.icon-contact:before {
  content: "f"; }

.icon-bolt:before {
  content: "g"; }

.icon-angle-double-right:before {
  content: "h"; }

.icon-angle-right:before, aside.main .nav-section > li > a:after {
  content: "i"; }

.flex-0 {
  -webkit-flex-basis: -1.25rem;
  flex-basis: -1.25rem; }

.flex-1 {
  -webkit-flex-basis: 6.25rem;
  flex-basis: 6.25rem; }

.flex-2 {
  -webkit-flex-basis: 13.75rem;
  flex-basis: 13.75rem; }

.flex-3 {
  -webkit-flex-basis: 21.25rem;
  flex-basis: 21.25rem; }

.flex-4 {
  -webkit-flex-basis: 28.75rem;
  flex-basis: 28.75rem; }

.flex-5 {
  -webkit-flex-basis: 36.25rem;
  flex-basis: 36.25rem; }

.flex-6 {
  -webkit-flex-basis: 43.75rem;
  flex-basis: 43.75rem; }

.flex-7 {
  -webkit-flex-basis: 51.25rem;
  flex-basis: 51.25rem; }

.flex-8 {
  -webkit-flex-basis: 58.75rem;
  flex-basis: 58.75rem; }

.flex-9 {
  -webkit-flex-basis: 66.25rem;
  flex-basis: 66.25rem; }

.flex-10 {
  -webkit-flex-basis: 73.75rem;
  flex-basis: 73.75rem; }

.flex-11 {
  -webkit-flex-basis: 81.25rem;
  flex-basis: 81.25rem; }

/* GENERAL BODY */
body {
  background-color: #f2f2f2;
  font-family: "asap", Helvetica, Arial, sans-serif;
  font-size: 0.75rem; }

/* HEADER */
header[role="banner"] {
  -webkit-align-items: flex-end;
  align-items: flex-end;
  font-family: "roboto" serif;
  padding: 1.875rem;
  padding-bottom: 0;
  margin-bottom: 0.9375rem; }
  header[role="banner"] .banner {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex: 1 0 16.875rem;
    flex: 1 0 16.875rem; }
    header[role="banner"] .banner h1 {
      margin: 0; }
  header[role="banner"] nav {
    margin-bottom: 0.9375rem; }
    header[role="banner"] nav ul {
      min-height: 2.125rem; }
      header[role="banner"] nav ul a {
        display: -webkit-flex;
        display: flex;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        font-size: 0.875rem;
        text-transform: lowercase;
        padding-top: 0.3125rem;
        margin: 0 0.625rem;
        border-bottom: solid 0.125rem transparent; }
        header[role="banner"] nav ul a i:before {
          margin-right: 0.3125rem; }
      header[role="banner"] nav ul .current-menu-item a:not([href="#"]), header[role="banner"] nav ul a:hover:not([href="#"]), header[role="banner"] nav ul a.active:not([href="#"]), header[role="banner"] nav ul .current-menu-item a:not([href="#"]), .current-menu-item header[role="banner"] nav ul a:not([href="#"]) {
        border-bottom: solid 0.125rem #ffbc17;
        margin-bottom: 0.5rem; }

/* MAIN */
main {
  -webkit-flex: 1;
  flex: 1; }
  main aside.main {
    padding-top: 0.9375rem;
    padding-left: 1.875rem;
    min-width: 12.5rem; }

.wrap {
  padding-top: 0.9375rem;
  padding-right: 1.875rem;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  align-content: flex-start; }
  .wrap .full {
    width: 100%; }
  .wrap > .row {
    margin-bottom: 2.5rem; }
  .wrap > section, .wrap .row {
    -webkit-align-items: flex-start;
    align-items: flex-start; }
    .wrap > section > header, .wrap .row > header {
      width: 100%; }
  .wrap section {
    margin-right: 1.25rem;
    margin-bottom: 1.25rem; }
  .wrap .container {
    padding: 0.9375rem;
    background-color: white; }

/* FOOTER */
footer.main {
  display: none; }

/* button*/
.button, button {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 0.20833rem 0.3125rem;
  background-color: #ffbc17;
  color: white; }
  .button:hover, button:hover {
    color: white;
    background-color: #f7b000; }
    .button:hover.right, button:hover.right {
      padding-right: 0.9375rem; }
  .button.right, button.right {
    float: right;
    margin-top: 0.625rem;
    margin-right: -0.9375rem;
    margin-bottom: -0.9375rem; }
  .button i:before, button i:before {
    display: block;
    font-size: 1.6em;
    margin-right: 0.3125rem; }

/* aside */
aside.main {
  margin: 0; }
  aside.main .nav-section {
    margin: 0; }
    aside.main .nav-section > li {
      -webkit-align-items: flex-start;
      align-items: flex-start;
      margin-top: 0.3125rem; }
      aside.main .nav-section > li > a {
        -moz-transition: background-color 0.4s;
        -o-transition: background-color 0.4s;
        -webkit-transition: background-color 0.4s;
        transition: background-color 0.4s;
        display: inline-block;
        background-color: white;
        padding: 0.20833rem 0.625rem;
        margin-bottom: 0.3125rem;
        font-family: "roboto" serif;
        font-size: 1.125rem;
        font-weight: bold;
        text-transform: lowercase;
        overflow: hidden; }
        aside.main .nav-section > li > a.icon-hover:after {
          color: #353535;
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }
        aside.main .nav-section > li > a:hover {
          background-color: #ffcb4a;
          color: white; }
          aside.main .nav-section > li > a:hover:after {
            max-width: 1.5625rem;
            margin-left: 0.3125rem;
            margin-right: -0.20833rem;
            padding: 0.20833rem; }
        aside.main .nav-section > li > a:after {
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          -moz-transition: all 0.2s;
          -o-transition: all 0.2s;
          -webkit-transition: all 0.2s;
          transition: all 0.2s;
          display: inline-block;
          overflow: hidden;
          max-width: 0;
          height: 1.5625rem;
          vertical-align: middle; }
      aside.main .nav-section > li .sub-menu {
        display: none;
        margin: 0.3125rem 0; }
        aside.main .nav-section > li .sub-menu li {
          margin-bottom: 0.20833rem; }
          aside.main .nav-section > li .sub-menu li a {
            padding-left: 0.3125rem;
            border-left: 0.1875rem solid transparent; }
          aside.main .nav-section > li .sub-menu li.current a {
            display: block;
            border-left-color: #ffbc17; }
      aside.main .nav-section > li.current > a {
        background: #ffbc17;
        color: white; }
      aside.main .nav-section > li.current > ul {
        display: initial; }

/* simple bloc */
section.simple .thumbnail {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  width: 50%;
  margin: -0.9375rem;
  margin-right: 1.25rem; }
  section.simple .thumbnail img {
    position: absolute;
    max-height: 100%;
    min-width: 100%; }

/* actu bloc */
.actu .thumbnail {
  margin: -0.9375rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  border-bottom: 0.3125rem solid; }
  .actu .thumbnail img {
    display: block;
    width: 100%;
    height: auto; }
.actu p {
  margin-bottom: 0; }

.infos-home hr {
  width: 0.625rem;
  border: none;
  background-color: #737373;
  height: 0.0625rem; }

a:hover, a.active, .current-menu-item a, h3, h4 {
  color: #ffbc17; }

.peinturea:hover, .peinture a.active, .peinture .current-menu-item a, .current-menu-item .peinture a, .peinture h3, .peinture h4, .peinture a:hover, .peinture a.active, .peinture .current-menu-item a, .current-menu-item .peinture a, .peinture h3, .peinture h4 {
  color: #0252cf; }

.geometriea:hover, .geometrie a.active, .geometrie .current-menu-item a, .current-menu-item .geometrie a, .geometrie h3, .geometrie h4, .geometrie a:hover, .geometrie a.active, .geometrie .current-menu-item a, .current-menu-item .geometrie a, .geometrie h3, .geometrie h4 {
  color: #f23518; }

.photographiea:hover, .photographie a.active, .photographie .current-menu-item a, .current-menu-item .photographie a, .photographie h3, .photographie h4, .photographie a:hover, .photographie a.active, .photographie .current-menu-item a, .current-menu-item .photographie a, .photographie h3, .photographie h4 {
  color: #42b04f; }

.multia:hover, .multi a.active, .multi .current-menu-item a, .current-menu-item .multi a, .multi h3, .multi h4, .multi a:hover, .multi a.active, .multi .current-menu-item a, .current-menu-item .multi a, .multi h3, .multi h4 {
  color: #ffbc17; }

.sculpturea:hover, .sculpture a.active, .sculpture .current-menu-item a, .current-menu-item .sculpture a, .sculpture h3, .sculpture h4, .sculpture a:hover, .sculpture a.active, .sculpture .current-menu-item a, .current-menu-item .sculpture a, .sculpture h3, .sculpture h4 {
  color: #ffbc17; }

hr {
  background-color: #ffbc17; }

.peinturehr, .peinture hr {
  background-color: #0252cf; }

.geometriehr, .geometrie hr {
  background-color: #f23518; }

.photographiehr, .photographie hr {
  background-color: #42b04f; }

.multihr, .multi hr {
  background-color: #ffbc17; }

.sculpturehr, .sculpture hr {
  background-color: #ffbc17; }

.actu .thumbnail {
  border-color: #ffbc17; }

.peinture.actu .thumbnail, .peinture .actu .thumbnail {
  border-color: #0252cf; }

.geometrie.actu .thumbnail, .geometrie .actu .thumbnail {
  border-color: #f23518; }

.photographie.actu .thumbnail, .photographie .actu .thumbnail {
  border-color: #42b04f; }

.multi.actu .thumbnail, .multi .actu .thumbnail {
  border-color: #ffbc17; }

.sculpture.actu .thumbnail, .sculpture .actu .thumbnail {
  border-color: #ffbc17; }

/*# sourceMappingURL=style.css.map */
