// basic

*, *:before, *:after {
	@include box-sizing;
}

html{
  height: 100%;
  width: 100%;
}

body{
  min-height: 100%;
  width: 100%;

  color: $grey;
}

nav, aside{
	ul{
		list-style: none;
	 	padding-left: 0;
	}
}

/* LINK BASIC */

a{
	text-decoration: none;
	color: $grey;

	&:hover, &.active{
		@include colors(&);
	}
}

.current-menu-item a{
	@extend a.active;
}

/* paragraphe and title basic */

h1, h2, h3, h4, h5, h6{
	margin-top: 0;
	text-rendering: optimizeLegibility;
	font-family: $title-font;
	font-weight: lighter;
}

h2{
	color: $lighter-grey;
	font-size: $ft-size-big;
}

h3{
	@include colors(&);
	font-size: $ft-size-big;
	margin-bottom: 0;
}

h4{
	@include colors(&);
	font-size: $ft-size-large;
	margin-bottom: $gutter;
}

h5{
	font-weight: 500;
	font-size: $ft-size-normal;
	margin-bottom: 0;
}

hr{
	@include colors(&, "bg");
	width:100%;
	border: none;
	height: $one;
}

.container, %basic-color{
	h3{
		@include colors(&, null, true);
	}

	h4{
		@include colors(&, null, true);
	}

	hr{
		@include colors(&, "bg", true);
	}
}

p{
	color: lighten($grey, 15%);
}

.content{
	width: 100%;
	line-height: 1.4;
	

	h4{
		color: $light-grey;
		font-size: $ft-size-medium;
	}
}

/* utilities class */

.hide{
	display: none;
}

// flex template

%flex-general{
	.go-right{
		margin-left: auto;
	}

	.full{
		@include flex(1);
	}

	.unbreak{
		@include flex-shrink(0);
	}
}

%flex-column{
	@include display-flex;
}

%flex-row{
	@include display-flex;
	@include flex-direction(column);
}

%flex-column-wrap{
	@extend %flex-column;
	@include flex-wrap(wrap);

	@extend %flex-general;
}

%flex-center-center{
	@extend %flex-column;
	@include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(center);
}