// basic

html{
  height: 100%;
  width: 100%;
}

body{
  min-height: 100%;
  width: 100%;
}

nav, aside{
	ul{
		list-style: none;
	 	padding-left: 0;
	}
}

/* LINK BASIC */

a{
	text-decoration: none;
	color: $grey;

	&:hover, &.active{
		color: $yellow;
	}
}

.current-menu-item a{
	@extend a.active;
}

/* paragraphe and title basic */

h1, h2, h3, h4, h5, h6{
	text-rendering: optimizeLegibility;
}

h2{
	color: $lighter-grey;
	font-size: $ft-size-big;
	font-family: $title-thin-font-family;
}

h4{
	font-family: $title-font-family;
	color: $light-grey;
	font-size: $ft-size-medium;
}

.content{
	line-height: 1.2;
	
	p{
		line-height: 1.4;
		color: $grey;
	}
}

/* utilities class */

.hide{
	display: none;
}

// flex template

%flex-general{
	.go-right{
		margin-left: auto;
	}

	.full{
		@include flex(1);
	}

	.unbreak{
		@include flex-shrink(0);
	}
}

%flex-column{
	@include display-flex;
}

%flex-row{
	@include display-flex;
	@include flex-direction(column);
}

%flex-column-wrap{
	@extend %flex-column;
	@include flex-wrap(wrap);

	@extend %flex-general;
}

%flex-center-center{
	@extend %flex-column;
	@include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(center);
}