// element.scss

/* button*/ 

.button, button, %button, a.button{
	@extend %flex-center-center;
	@include single-transition(all, .2s);
	border:none;
	font-weight: normal;
	@include appearance(none);

	padding: $gutter-small $gutter;
	@include colors(&, "bg"){
		color: white;
	};
	@include colors(&, "bg", true) {
		color: white;
	};

	&:hover,{
		color: white;
		@include colors(&, "bg");
		text-decoration: none;

		&.right{
			padding-right: $gutter-medium;
			padding-left: $gutter-medium;
			// padding-left: $gutter;
		}
	}

	&.right{
		margin-right: -($gutter-large);
		margin-bottom: -($gutter-large);
		position: absolute;
		bottom: 0;
		right: 0;
	}

	&.big{
		font-size: $ft-size-largest;
    // background-color: grey;
    padding: 20px;
	}

	i:before{
		display: block;
		// font-size: 1.2em;
	}

	i:first-child{
		margin-right: $gutter-small;
	}
	i:last-child{
		margin-left: $gutter-small;
	}
}

form{
	input, textarea{
		margin-top: $gutter-small;
		width: 100%;
		padding: rem-calc(6) rem-calc(8);
		border: none;
		background: $lightest-grey; 
	}

	input[type="submit"] {
		width: auto;

		&:hover{
			background: $lighter-grey;
		}
	}

	&.search{
		background-color: rgba(white, 0.4);
		height: rem-calc(30);
		margin-top: $gutter-small;
		margin-right: $gutter-large;

		> *{
			display: inline-block;
			vertical-align: middle;
		}

		button{
			background: transparent;
			width: rem-calc(30);
			color: $grey;
			i{
				margin: 0;
			}
		}

		input{
			width: calc(100% - #{rem-calc(30)});
			color: $grey;
			margin-top: 0;
			background: transparent;
			width: rem-calc(100);
			overflow: hidden;
		}
	}
}

.filter-tools{
	@extend %flex-column-wrap;
	width: 100%;
	margin-bottom: $gutter-large;

	.isotop-links{
		margin-right: $gutter-large;
		@extend %flex-column-wrap;
		
		a{
			background-color: transparent;
			margin-right: $gutter-small;
			font-family: $title-font;
			@include colors("", null, &);

			i{
				margin-left: 0;
				font-size: 1.2em;
			}

			&:first-child{
				padding-left: 0;
			}

			&:not(.check) {
				color: $light-grey;
			}
			
			&.normal{
				background-color: rgba(white, 0.2);
				color: $light-grey;
				padding-left: $gutter;
				&.check{
					background-color: white;
				}
			}
		}
	}

	.quicksearch{
		margin-left: auto;
	
		input{
			@include appearance(none);
			text-align: center;
			border: $two white solid;
			background-color: transparent;
			padding: $gutter-small;
		}
	}
}

/* thumbnail */

%thumbnail, .thumbnail{
	margin: -$gutter-large;
	margin-bottom: $gutter;
	overflow: hidden;
	border-bottom: $border-width solid;
	
	@include colors(&, "bd");

	img{
		@include single-transition(all, .4s, ease-out);
		display: block;
		width: 100%;
		height: auto;
	}
}

.cover{
	@include align-self(stretch);
	margin-right: $gutter-large;
	margin-bottom: $gutter-medium;

	img{
		width: 100%;
		height: auto;
	}
}

/* list bloc */

.post-it, %post-it{
	@extend %flex-row;
	@extend %section-gutter;
	position: relative;
	border: $one dotted transparent;

	.thumbnail{
		margin: -($gutter-large + $one);
		margin-bottom: $gutter;
	}

	&.artiste{
		.thumbnail{
			max-height: rem-calc(135);
		}
		//height: grid-calc(2.5);
	}

	&:hover{
		@include colors(&, "bd", true);

		.thumbnail img{
			// transform: scale(1.02)
		}
	}

	h3{
		font-size: $ft-size-larger;
	}

	.detail{
		// @include flex-shrink(0);
		overflow: hidden;

		.content hr{
			display: none;
		}
	}

	hr:last-child{
		display: none;
	}
}

@import "elements/aside";
@import "elements/bloc";
@import "elements/fotorama";
@import "elements/modal";
@import "elements/list";


