// element.scss

/* button*/ 

.button, button{
	@extend %flex-center-center;
	@include single-transition(all, .2s);

	padding: $gutter-mini $gutter-small $gutter-mini $gutter;
	@include colors(&, "bg");
	color: white;

	&:hover{
		color: white;
		@include colors(&, "bg");

		&.right{
			padding-right: $gutter;
			// padding-left: $gutter;
		}
	}

	&.right{
		margin-right: -($gutter-medium);
		margin-bottom: -($gutter-medium);
		position: absolute;
		bottom: 0;
		right: 0;
	}

	i:before{
		display: block;
		font-size: 1.6em;
	}

	i:first-child{
		margin-right: $gutter-small;
	}
	i:last-child{
		margin-left: $gutter-small;
	}
}

.filter-tools{
	@at-root {
		header > &{
			margin-left: $gutter-large;
		}
	}
}

/* thumbnail */

%thumbnail, .thumbnail{
	margin: -$gutter-medium;
	margin-bottom: $gutter;
	overflow: hidden;
	border-bottom: $border-width solid;
	
	@include colors(&, "bd");

	img{
		@include single-transition(all, .4s, ease-out);
		display: block;
		width: 100%;
		height: auto;
	}
}

/* list bloc */

.post-it, %post-it{
	@extend %flex-row;
	@extend %section-gutter;
	@include single-transition(all, .5s);
	// @include box-shadow(0 0 $gutter transparent);
	border: $one dotted transparent;

	.thumbnail{
		margin: -($gutter-medium + $one);
		margin-bottom: $gutter;
	}

	&.artiste{
		.thumbnail{
			max-height: rem-calc(135);
		}
		//height: grid-calc(2.5);
	}

	&:hover{
		@include colors(&, "bd", true);

		.thumbnail img{
			// transform: scale(1.02)
		}
	}

	h3{
		font-size: $ft-size-larger;
	}

	.detail{
		// @include flex-shrink(0);
		overflow: hidden;

		.content hr{
			display: none;
		}
	}

	hr:last-child{
		display: none;
	}
}

@import "elements/aside";
@import "elements/bloc";
@import "elements/fotorama";
@import "elements/modal";
@import "elements/list";


