// element.scss

/* button*/ 

.button, button{
	@extend %flex-center-center;
	@include single-transition(all, .2s);

	padding: $gutter-mini $gutter-small;
	@include colors(&, "bg");
	color: white;

	&:hover{
		color: white;
		@include colors(&, "bg");

		&.right{
			padding-right: $gutter-medium;
		}
	}

	&.right{
		float: right;
		margin-top: $gutter;
		margin-right: -($gutter-medium);
		margin-bottom: -($gutter-medium);
	}

	i:before{
		display: block;
		font-size: 1.6em;
		margin-right: $gutter-small;
	} 
}

/* thumbnail */

%thumbnail, .thumbnail{
	margin: -$gutter-medium;
	margin-bottom: $gutter;
	overflow: hidden;
	border-bottom: $gutter-mini solid;
	
	@include colors(&, "bd");

	img{
		display: block;
		width: 100%;
		height: auto;
	}
}

/* list bloc */

.post-it{
	height: grid-calc(2.5);
	@extend %flex-row;
	@extend %section-gutter;

	h3{
		font-size: $ft-size-larger;
	}

	.detail{
		@include flex-shrink(0);
		overflow: hidden;

		.content hr{
			display: none;
		}
	}
}

@import "elements/aside";
@import "elements/bloc";