// layout.scss

$susy: (
  columns: 12,
  container: auto,
  container-position: left,
  global-box-sizing: border-box,
  gutter-width: $gutter
);

body{
	@include container;
	background-color: $bgColor;

    > nav{
		@include span(4); 
	}

	> main{
		@include span(8 last); 
	}
}

header.main{
}