// layout.scss
@include flex-grid();
@include flex-grid(min);
@include flex-grid(max);
@include flex-grid(fixed, 12, '.', false);

@include block-grid();


/* GENERAL BODY */

body{
	@extend %flex-row;
	@include align-items(center);

	background-color: $bg-color;
	font-family: $body-font;
	font-size: $ft-size-normal;
}


/* HEADER */

header[role="banner"]{
	background-color: white;
	// border-bottom: $one solid rgba(0, 0, 0, 0.05);

	font-family: $title-font;
	font-size: $ft-size-large;	
	width: 100%;
	z-index: 8;

	.header-content{
		@extend %flex-column-wrap;
		@include align-items(flex-end);
		margin: 0 auto;
	}
	
	.header-banner{
		padding: $gutter 0 $gutter-mini;
	}

	.banner{
		@include flex-shrink(0);
		@include flex(1 0 rem-calc(270));
		
		h1{
			margin: 0;

			svg{
				zoom: 1.4;
				vertical-align: bottom;
			}
		}
	}

	#logo-circle{
		@include colors(&, "fill");
	}

	nav{
		@extend %nav-menu;
		margin-bottom: -($gutter-mini);

		.menu-item i._mi{
			margin-top: 0.125em;
		}
	}

	.header-info{
		font-size: $ft-size-normal;
    // border-bottom: $one solid rgba(0, 0, 0, 0.05);
		background-color: $black;

		&, a{
			color: white;
		}
		
		.header-social{
			// border-left: $one solid rgba(0, 0, 0, 0.05);
			// border-right: $one solid rgba(0, 0, 0, 0.05);
			padding: 0 $gutter-large;
			a > span{
				display: none;
			}
		}

		ul{
			list-style: none;
			padding: 0;
			margin: 0;
	    // border-left: $one solid rgba(0, 0, 0, 0.05);
		}

		li{
			display: inline-block;
			padding: $gutter $gutter-small;
		}

		.infos{
			margin-left: auto;
			li{
				padding: $gutter $gutter-large;
				// border-right: $one solid rgba(0, 0, 0, 0.05);
			}
		}
	}
}


%nav-menu{
	ul{
		@extend %flex-center-center;
		min-height: rem-calc(34);

		a{
			@include display-flex;
			@include transition(all .3s);
			position: relative;

			font-size: $ft-size-medium;
			//text-transform: lowercase;
			padding-top: $gutter-small;
			margin: 0 $gutter;
			
			i:before{
				margin-right: $gutter-small;
			}

			&[title*="list-"]{
				&:after{
					content: "\f107";
					display: block;
					position: absolute;
					top: 20px;
					left: 55%;
					color: $grey;
					font: normal normal normal 14px/1 FontAwesome;
				}
				&:hover:after{ color: inherit; }
			}
		}

		.current-menu-item a, a:hover, a.active, .current-page-ancestor a{
			@include colors(&);
			//border-bottom: solid $two;
			//margin-bottom: rem-calc(8);
		}
	}
}

/* MAIN */

main{
	@include background-image(linear-gradient(white, $lightest-grey rem-calc(100)));
	@extend %flex-column;

	width: 100%;

	.wrap{
		@extend %flex-column;
		@include flex(1);
		margin: 0 auto;
	}
}

aside{
	padding-top: $gutter-medium;
	// padding-left: $gutter-big;
	padding-right: $gutter-large;
	width: $aside-width;
	z-index: 1;

}


.breadcrumbs{
	width: 100%;
	padding-top: $gutter-medium;
}

%section-gutter{
	@media #{$medium-up}{
		// margin-right: $column-gutter;
	}
	margin-bottom: $column-gutter;
}

.wrap{
	padding-top: $gutter-medium;
	//padding-right: $gutter-big;
	@extend %flex-column;
	@include flex(1);
	@include flex-wrap(wrap);
	@include align-content(flex-start);
	@include align-items(flex-start);
	
	>header:first-child{
		width: 100%;
		@extend %flex-column-center;
	}
	
	.full{
		width: 100%;
	}

	.full-force{
		width: 100%;
		@include single-transition(all, .4s);
		@include flex-basis(initial);
	}

	> h2{

		&.title{
			color: $lighter-grey;
		}
		
		width: 100%;
		margin-bottom: $gutter-small;
	}

	> .row{
		width: 100%;
		// margin-bottom: $gutter-hudge;
	}
	
	> section{
		@extend %flex-column-wrap;
		@include align-items(flex-start);

		> header {
			@extend %flex-column-wrap;
			width: 100%;
		}
	}

	section{
		@extend %section-gutter;
	}

	.col{
		@extend %section-gutter;

		&[class*='flex-'] > [class*='flex-']{
			width: auto;
		}

		section{
			margin-right: 0;
		}

		> [class*="flex-"]  {
			@include flex-basis(initial);
			max-width: 100%;
		}
	}
}

.container{
	padding: $gutter-large;
	background-color: white;
	//background-color: rgba(250,250,250,0.9);

	&.special{
		border: thin solid;
		@include colors(&, "bd");
		// background-color: $lightest-grey;
	}
}

.special{
	> .container{
		border: thin solid;
		@include colors(&, "bd");
	}
}

.row{
	@extend %flex-column-wrap;
	@include align-items(flex-start);

	> header {
		@extend %flex-column-wrap;
		width: 100%;
	}

	&.stretch{ @include align-items(stretch); }
	&.end{ @include align-items(flex-end); }
	&.start{ @include align-items(flex-start); }
	&.mid{ @include align-items(center); }
}

/* FOOTER */

footer.main{
	width: 100%;
	margin-top: $gutter-large;
	background-color: $black;

	&, a, p{
		color: #999999;
	}

	li.current_page_item > a, li.current-menu-item > a, a:hover{
		color: white !important;
		//@include colors(&);
	}

	.footer-content{
		padding-top: $gutter-big;
		padding-bottom: $gutter-big;
		margin: 0 auto;
		
		h4{
			font-family: $body-font;
			display: block;
			text-transform: uppercase;
			color: white;
			font-size: $ft-size-large;
			padding-bottom: $gutter-mini;
			margin-bottom: $gutter;
			border-bottom: thin white solid;
		}

		nav + nav{
			padding-top: $gutter;
		}

		.menus{
			@include justify-content(space-between);

			.menu{
				margin: 0;
				> li{

					margin-top: $gutter-large;
					&:first-child{
						margin-top: 0;
					}

					> a{
						display: block;
						text-transform: uppercase;
						color: white;
						font-size: $ft-size-large;
						padding-bottom: $gutter-mini;
						margin-bottom: $gutter;
						border-bottom: thin white solid;

						i{
							display: none;
						}
					}
				}

				hr{
					display: none;
				}
			}

			>div{
				margin: 50px $gutter-big 0 0;
				@include flex(1);

				&:first-child{
					margin-top: 0;
				}
			}
		}

		input[type="text"]{
			background: white;
			border: none;
			padding: $gutter-mini $gutter-small;
			width: 100%;
			margin-bottom: 5px;
		}

		input[type="submit"]{
			@include appearance(none);
			background-color: transparent;
	    padding: 0;
	    border: none;
	    color: white;
	    text-decoration: underline;
	    margin-top: $gutter-mini;
		}
	}

	.copyright{
		padding-right: $gutter-hudge;
		padding-left: $gutter-hudge;
		background-color: #202020;
		
		.copyright-content{
			margin: 0 auto;
			@extend %flex-column;

			> nav {
				margin-left: auto;
				// margin-right: $gutter;
			}
		}

		li.current_page_item a, li.current-menu-item a, a:hover{
			color: white;
			//@include colors(&);
		}

		ul{
			@extend %flex-column; 
			margin-left: auto;
			li{
				margin-right: $gutter-medium;
				i{
					margin-right: $gutter-small;
				}
			}
		}
	}
}

/* flex LAYOUT */

// flex template

%flex-general{

	.go-right{
		margin-left: auto;
	}

	.contain{
		max-width: -moz-calc(100% - #{$gutter-medium});
		max-width: -webkit-calc(100% - #{$gutter-medium});
		max-width: calc(100% - #{$gutter-medium});;
		margin-right: $gutter-medium;
		@include flex-grow(1);
	}

	.content-column{
		padding-right: $gutter-medium;
		img{
			max-width: 100%;
		}
	}

	.full, .grow{
		@include flex-grow(1);
	}

	&.center{
		@include justify-content(center);
	}

	.unbreak{
		@include flex-shrink(0);
	}
}

%flex-column{
	@include display-flex;
}

%flex-column-center{
	@include display-flex;
	@include align-items(center);
}

%flex-row{
	@include display-flex;
	@include flex-direction(column);
}

%flex-column-wrap{
	@extend %flex-column;
	@include flex-wrap(wrap);

	@extend %flex-general;
}

%flex-center-center{
	@extend %flex-column;
	@include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(center);
}