// layout.scss

/* GENERAL BODY */

body{
	background-color: $bg-color;
	font-family: $body-font-family;
	font-size: $ft-size-normal;
}

/* HEADER */

header.main{
	@extend %flex-column-wrap;
	@include align-items(flex-end);

	font-family: $title-font-family;	
	padding: $gutter-big;
	padding-bottom: 0;

	h1{
		@include flex-shrink(0);
		@include flex(1 0 rem-calc(270));
		margin: 0;
	}

	nav{

		ul{
			@extend %flex-center-center;

			a{
				@include display-flex;
				@include transition(all .3s);

				font-size: $ft-size-medium;
				text-transform: lowercase;
				padding-top: $gutter-small;
				margin: 0 $gutter;
				order-bottom: solid $two transparent;
				
				i:before{
					margin-right: $gutter-small;
				}
			}

			.current-menu-item a, a:hover, a.active{
				&:not([href="#"]) {
					border-bottom: solid $two	 $yellow;
					margin-bottom: rem-calc(8);
				}
			}
		}
	}

	.switch-lang{
		margin-right: 80vw;
	}
}

/* MAIN */

main{
	@extend %flex-column;
	padding: $gutter-medium $gutter-big 0;

	aside.main{
		min-width: rem-calc(180);
	}
}

.wrap{
	> section, > .row{
		@extend %flex-column-wrap;
		margin-bottom: $gutter-hudge;

		> header {
			@extend %flex-column-wrap;
			width: 100%;
		}
	}

	section{
		margin-right: $gutter;
		margin-bottom: $gutter;
	}

	.container{
		padding: $gutter;
		background-color: white;
	}
}

/* FOOTER */

footer.main{
	display: none;
}