
body > .fotorama-special{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	margin: 40px;
	width: 60vw;

	&.fotorama--fullscreen{
		opacity: 1;
	}
	
}

.fa-pull-right{
	float: right;
	margin-top: 4px;
}

.uncolor{
	color: $grey !important;
}


/* utilities class */

.hide{
	display: none;
}

.hidden{
	display: none !important;
}

[data-show]{
	cursor: pointer;
}