// variables

$rem-base: 16px;
//$body-font-family: "GandhiSans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// color

$lightestGrey: #f2f2f2;
$yellow: #ffbc16;
$red: #f23518;
$blue: #0252cf;
$green: #42b04f;
$progress: #ffbc16;

$bgColor: $lightestGrey;

$primary-color: $yellow;
// $body-font-color: $white;
// $header-font-color: $white;

// background

// font size

$ft-size-mini: rem-calc(11);
$ft-size-normal: rem-calc(13);
$ft-size-medium: rem-calc(15);
$ft-size-large: rem-calc(18);
$ft-size-larger: rem-calc(20);
$ft-size-largest: rem-calc(24);

// gutter

$gutter: rem-calc(10);
$gutter-medium: $gutter*1.5;
$gutter-large: $gutter*2;
$gutter-small: $gutter/2;
$gutter-mini: $gutter/3;

// 

$column-width: rem-calc(110);