/* aside */

aside{
	margin: 0;

	.quick-nav{
		@extend %nav-menu;
		ul{
			@include flex-direction(column);
	 		@include align-items(flex-start);
			margin-top: 0;

	 		a{
				border-bottom: none !important;
				margin-bottom: 0 !important;
	 			margin-left: 0;
	 		}
		}

		margin-bottom: $gutter-large;
	}

	.nav-section{
		margin: 0;

		> li {
			@extend %flex-row;
			@include align-items(flex-start);
			margin-top: $gutter-small;


			> a, > span {
				@include single-transition(background-color, .4s);
				@include display-flex;

				display: inline-block;
				background-color: white;
				padding: $gutter-mini $gutter;
				margin-bottom: $gutter-small;
				font-family: $title-font;
				font-weight: bold;
				font-size: $ft-size-large;
				height: 32px;
				color: $grey;
				overflow: hidden;

				i{
					display: inline;
					height: 34px;
					padding: 9px 0;
					margin-left: $gutter-small;
					overflow: hidden;
					background-color: transparent;
				}

				&:hover, &:hover:not(.button){
					@include colors(&, "bg");
					color: white;
				}

			}
			
		}

		.sub-menu{
			@extend %flex-column-center;
			@include flex-wrap(wrap);
			@include justify-content(flex-end);
			@include single-transition(max-height, 0.4s);
			max-height: 0;
			overflow: hidden;
			width: 100%;
			margin: 0;

			&.open{
				max-height: 300px;
			}

			li{
				margin-bottom: $gutter-mini;

				
				a{
					&:before:not(:first-child){
						content: " / ";
					}

					display: block;
					padding-left: $gutter-small;
					border-left: $border-width solid transparent;
					@include ellipsis();
				}
	
			}
		}

		hr{
			background-color: $light-grey;
			margin: $gutter;
			width: $gutter;
		}
	}

	&.main{
		width: 100%;
		padding-top: 0;
	}
}


.aside-artistes{
	.thumbnail{
		border-bottom: none;
		margin-top: - $gutter-large;
		// margin: 0;
	}

	.info{
		margin-top: $gutter-medium;
		.bio{
			margin-top: $gutter-medium;
			hr{ display: none; }
			h4{
				font-size: $ft-size-medium;
				color: $black;
			}
		}

		h2{
			display: inline-block;
			@include colors(&, "bg");
			padding: $gutter-mini $gutter;
			margin-bottom: $gutter-medium;
			font-family: $title-font;
			font-weight: bold;
			height: 34px;
			color: white;
			font-size: $ft-size-larger;
		}
	}

	hr{
		width: auto;
		background-color: lighten($lighter-grey, 10%);
		margin: $gutter-large $gutter-large $gutter-large 0;
	}

}

.close-menu{
	font-size: $ft-size-large;
}

.show-menu{
	// height: 50px;
	// width: 50px;
	display: block;
	position: relative;
	padding-left: $gutter-big;
	padding-top: rem-calc(8);
	text-transform: uppercase;

	&:after{
		content: '';
		position: absolute;
		display: block;
		width: 1rem;
		height: 0;
		top: 0;
		left: 0;
		-moz-box-shadow: 0 rem-calc(10) 0 $one $light-grey,0 rem-calc(16) 0 $one $light-grey,0 rem-calc(22) 0 $one $light-grey;
		-webkit-box-shadow: 0 rem-calc(10) 0 $one $light-grey,0 rem-calc(16) 0 $one $light-grey,0 rem-calc(22) 0 $one $light-grey;
		box-shadow: 0 rem-calc(10) 0 $one $light-grey,0 rem-calc(16) 0 $one $light-grey,0 rem-calc(22) 0 $one $light-grey;
	}
}