/* aside */

aside.main{
	margin: 0;

	.quick-nav{
		@extend %nav-menu;
		ul{
			@include flex-direction(column);
	 		@include align-items(flex-start);
			margin-top: 0;

	 		a{
				border-bottom: none !important;
				margin-bottom: 0 !important;
	 			margin-left: 0;
	 		}
		}

		margin-bottom: $gutter-large;
	}

	.nav-section{
		margin: 0;

		> li {
			@extend %flex-row;
			@include align-items(flex-start);
			margin-top: $gutter-small;


			> a{
				@include display-flex;
				font-size: $ft-size-larger;
				overflow: hidden;
				width: 100%;

				&:hover i{
					max-width: 34px;
					padding-left: 9px;
					padding-right: 9px;
					color: $grey;
				}

				span{
					@include single-transition(background-color, .4s);

					display: inline-block;
					background-color: white;
					padding: $gutter-mini $gutter;
					margin-bottom: $gutter-small;
					font-family: $title-font;
					font-weight: bold;
					text-transform: lowercase;
					height: 34px;
					color: $grey;

					&:hover{
						@include colors(&, "bg");
						color: white;
					}
				}

				i{
					@include single-transition(all, .2s, .2s);
					@include order(2);
					height: 34px;
					max-width: 0;
					padding: 9px 0;
					margin-left: $gutter-small;
					overflow: hidden;
					background-color: white;

					&:hover{
						@include colors(&, "bg");
						color: white;
					}
				}
			}
			
			.sub-menu{
				display: none;
				width: 100%;
				margin: $gutter-small 0;

				li{
					margin-bottom: $gutter-mini;
					
					a{
						display: block;
						padding-left: $gutter-small;
						border-left: $border-width solid transparent;
						@include ellipsis();
					}
					// @include colors("a:hover", null, ".sub-menu li", "");

					&.current-menu-item:not(.no-current) a{
						display: block;
						@include colors(&, "bd");
					}
				}
			}


			&.current-menu-item:not(.no-current){
				> a span{
					@include colors(&, "bg");
					color: white;
				}

				> ul{
					display: initial;
				}
			}
		}

		hr{
			background-color: $light-grey;
			margin: $gutter;
			width: $gutter;
		}
	}
}

.close-menu{
	font-size: $ft-size-large;
}

.show-menu{
	// height: 50px;
	// width: 50px;
	display: block;
	position: relative;
	padding-left: $gutter-big;
	padding-top: rem-calc(8);
	text-transform: uppercase;

	&:after{
		content: '';
		position: absolute;
		display: block;
		width: 1rem;
		height: 0;
		top: 0;
		left: 0;
		-moz-box-shadow: 0 rem-calc(10) 0 $one $light-grey,0 rem-calc(16) 0 $one $light-grey,0 rem-calc(22) 0 $one $light-grey;
		-webkit-box-shadow: 0 rem-calc(10) 0 $one $light-grey,0 rem-calc(16) 0 $one $light-grey,0 rem-calc(22) 0 $one $light-grey;
		box-shadow: 0 rem-calc(10) 0 $one $light-grey,0 rem-calc(16) 0 $one $light-grey,0 rem-calc(22) 0 $one $light-grey;
	}
}