/* simple bloc */

.simple{
	@extend %flex-column;
	
	&.has-image{
		@include flex-wrap(initial);
		@include align-items(initial);
	}

	.thumbnail{
		@include flex-shrink(0);
		position: relative;
		overflow: hidden;
		width: 50%;
		margin: -$gutter-medium;
		margin-right: $gutter-large;
		border: none;

		img{
			position: absolute;
			max-height: 100%;
			min-width: 100%;
			width: auto;
		}
	}

	.title{
		margin-bottom: $gutter-small;
	}

	h5{
		@include colors(&) { 
			color: $light-grey; 
		};

		a{
			@include colors(&) { 
				color: $light-grey; 
			};
		}

		font-size: $ft-size-medium;
	}

	h4{
		border-bottom: $one solid;
		@include colors(&, "bd") {
			border-color: $light-grey;
		};
		padding-bottom: $gutter-small;
	}

	h3{
		@include colors(&){
			color: $lighter-grey;
		};

	}

	ul{
		list-style: none;
		padding-left: $gutter-small;

		li:before {
	    content: "•";
	    margin-right: $gutter-small;
	    @include colors(&) {
	    	color: $grey; 
	    };
		}

		b, strong{
			@include colors(&) {
	    	color: $grey; 
	    };
		}
	}

}

/* actu bloc */
.actus{
	section[class^="flex-"]{
		margin-bottom: 0;
		&:hover .thumbnail{
			max-height:0;
		}
	}
	ul{
		padding-left: 0;
		list-style: none;
		margin: 0;

		li{
			padding-bottom: $gutter-medium;
		}
	}
}

.actu{

	a, &.highlight{
		@extend %post-it;	
		margin-bottom: 0;
		margin-right: 0;
	}
	

	.thumbnail{ 
		overflow: hidden;
		max-height:0;
		@include single-transition(max-height, .24s);
	}


	&:first-child .thumbnail{
		max-height:$small-actu-height;
	}

	&:last-child{
		margin-bottom: 0;
	}
	
	&:hover:not(.highlight) .thumbnail{
		max-height:$small-actu-height !important;
	}

	&.highlight{
		margin-right: $gutter-medium;
		.thumbnail{
			max-height:none;
		}
	}
}



/* intro bloc */

.intro{
	.content{
		font-family: $title-font;
		text-align: center;
		padding: $gutter-large 0 $gutter-medium;
		
		p{
			@include colors(&);
		}
	}

	&.expo{
		display: block;

		.intitule{
			&,p {
				font-weight: bold;
				@include colors(&) {
					color: $light-grey;
				}
			}
		}

		.artistes{
			list-style: none;
			padding-left: 0;
			font-family: $title-font;
			font-size: $ft-size-medium;
		}
	}
}

.videos{
	.videos-list{
		list-style: none;
		padding-left: 0;
		margin: 0;
		@extend %flex-column-wrap;

		li{
			width: 50%;
			padding: 0 $gutter $gutter 0;

			iframe{
				max-width: 100%;
				height: auto;
			}
		}	
	}
}

.links{

	h3, h4{
		color: $lighter-grey;
	}

	ul{ 
		list-style: none;
		padding-left: 0;
		margin: 0;
		@extend %flex-column-wrap;
	}

	li{
		width: 100%;
		margin-bottom: $gutter;
		background-color: white;

		a{
			display: block;
			width: 100%;
			padding: $gutter;

			&:after{
				content: "";
				display: block;
				clear: both;
			}
		}

		h4{
			margin-top: $gutter-small;
		}

		border: dotted thin transparent;

		&:hover{
			border-color: $light-grey;
		}

		img{
			float: left;
			margin-right: $gutter;
		}
	}	
}

/* relationship */

.relationship{
	width: 100%;
	margin-top: $gutter-large;
	text-align: center;

	h5{
		text-transform: uppercase;
	}
	
	ul{
		list-style: none;
		padding-left: 0;
	}

	li{
		margin: $gutter 0;
		&:hover{
			&, p{
				@include colors(&);
			}
		}

		&:before{
			content: "";
			display: block;
			width: $gutter-large;
			height: $one;
			@include colors(&, "bg") {
				background-color: $lighter-grey;
			};
			margin: 0 auto;
		}
	}

}

.short{
	b, strong{
		// @include colors(&);
	}
}