/* simple bloc */

.simple{
	@extend %flex-column;
	
	&.has-image{
		@include flex-wrap(initial);
		@include align-items(initial);
	}

	.thumbnail{
		@include flex-shrink(0);
		position: relative;
		overflow: hidden;
		width: 50%;
		margin: -$gutter-medium;
		margin-right: $gutter-large;
		border: none;

		img{
			position: absolute;
			max-height: 100%;
			min-width: 100%;
			width: auto;
		}
	}

	h5{
		@include colors(&) { 
			color: $light-grey; 
		};

		a{
			@include colors(&) { 
				color: $light-grey; 
			};
		}

		font-size: $ft-size-medium;
	}

	h4{
		border-bottom: $one solid;
		@include colors(&, "bd") {
			border-color: $light-grey;
		};
		padding-bottom: $gutter-small;
	}

	h3{
		@include colors(&){
			color: $lighter-grey;
		};
		margin-bottom: $gutter;
	}

	ul{
		list-style: none;
		padding-left: $gutter-small;

		li:before {
	    content: "•";
	    margin-right: $gutter-small;
	    @include colors(&) {
	    	color: $grey; 
	    };
		}

		b, strong{
			@include colors(&) {
	    	color: $grey; 
	    };
		}
	}

}

/* actu bloc */
.actus{

	@media #{$medium-down} {
		display: block !important;

		> *{
			width: 100%;
		}
	}

	section[class^="flex-"]{
		margin-bottom: 0;
		// &:hover .thumbnail{
			// max-height:0;
		// }
	}

	ul{
		@extend %flex-column;
		padding-left: 0;
		list-style: none;
		margin: 0;

		li{
			padding-bottom: $gutter-medium;
		}
	}

	.special{
		display: inline-block;
		background-color: $black;
		border-color: transparent;
		color: white;
		
		&:hover{
			border-color: $lightest-grey;
			color: white;
		}

		i{
			margin-right: $gutter;
		}
	}

}

.actu{

	a{
		@extend %post-it;
		margin-bottom: 0;
		margin-right: 0;
	}
	
	.thumbnail{ 
		overflow: hidden;
	}

	&:last-child{
		margin-bottom: 0;
	}

	&.no-img{
		.thumbnail{
			display:none;
		}
	}

	&.highlight{
		a{
			@include flex-direction(row);
		}
		// margin-right: $gutter-medium;
		// margin-bottom: $gutter-medium;
		.thumbnail{
			max-height:none;
			border-bottom: none;
			margin-right: $gutter-large;
			margin-bottom: -($gutter-large + $one);
		}
	}
	
	@media #{$medium-down}{
		a, &.highlight{
			@include flex-direction(row);
			
			.thumbnail{
				max-height:$small-actu-height !important;
			  width: 40%;
			  margin: 0;
			  border: 0;
			  margin-right: 15px;
			  align-items: stretch;
			}
		}
	}
}



/* intro bloc */

.intro{
  // @include flex-flow(row wrap);
 	// @include flex-grow(1);
  // display: flex;

	.content{
		font-family: $title-font;
		text-align: center;
		padding: $gutter-large 0 $gutter-medium;
		
		p{
			@include colors(&);
		}

	}

	.expositions &{
		.detail{
			@extend %flex-column;
			margin-top: $gutter-large;
			
			.thumbnail{
				border: none;
				@include flex-shrink(0);
				// width: 45%;
				margin:	0;
				margin-right: $gutter;
			}
		}
	}

	.foires &{
		.thumbnail{

		}
	}
	
}

.foire, .expo{
	.artistes{
		float: left;
	}
}

.video{
	h3{
		margin-bottom: $gutter;
	}

	iframe{
		max-width: 100%;
	}
}

.videos{
	h3{
		margin-bottom: $gutter;
	}

	h4{
		font-size: $ft-size-medium;
		border-bottom: $one solid;
		@include colors(&, "bd") {
			border-color: $light-grey;
		};
		padding-bottom: $gutter-small;
	}

	ul{
		width: 100%;
		list-style: none;
		padding-left: 0;
		margin: 0;
		@extend %flex-column-wrap;

		li{
			min-width: 100%;
			margin-bottom: $gutter-medium;
			// padding: 0 $gutter $gutter 0;

			iframe{
				width: 100%;
				// height: auto;
			}
		}	
	}
}

.gallery{
	h3{
		margin-bottom: $gutter;
	}
	
	h4{
		font-size: $ft-size-medium;
		border-bottom: $one solid;
		@include colors(&, "bd") {
			border-color: $light-grey;
		};
		padding-bottom: $gutter-small;
	}
}

.galleryNg{

	.selection > a{
		margin-right: $gutter-small;
		margin-bottom: $gutter-small;
		display: inline-block;
	}

}

.slideshowNg{
	position: relative;
	padding: 0;

	.container{
		padding: 0;
		
		> .title{
			position: absolute;
			bottom: 100%;
			right: $gutter-medium;
			padding-bottom: $gutter;
			padding-right: $gutter;
			color: $lighter-grey;
			margin-bottom: 0;
			border: none;
		}

		> h4:not(.title){
			margin: $gutter-large;
		}
	}
	// max-height: rem-calc(662);

}


.links, .events{

	h3, h4{
		color: $lighter-grey;
		width: 100%;
	}

	ul{ 
		list-style: none;
		padding-left: 0;
		margin: 0;
		width: 100%;
		@extend %flex-column-wrap;
	}

	li{
		width: 100%;
		margin-bottom: $gutter;
		background-color: white;

		a{
			display: block;
			width: 100%;
			padding: $gutter;

			&:after{
				content: "";
				display: block;
				clear: both;
			}
		}

		h4{
			margin-top: $gutter-small;
			@include colors(&) {
				color: $grey;
			}
		}

		border: dotted thin transparent;

		&:hover{
			border-color: $light-grey;
		}

		img, .thumbnail{
			float: left;
			margin-right: $gutter;
			img{
				float: inherit;
			}
		}
	}	
}

/* relationship */
.relationship, %relationship{
	width: 100%;
	margin-top: $gutter-hudge;
	text-align: center;

	h5{
		text-transform: uppercase;
	}
	
	ul{
		list-style: none;
		padding-left: 0;

		&.artistes{
			list-style: none;
			padding-left: 0;
			font-family: $title-font;
			font-size: $ft-size-medium;

			@include column-count(2);
		}

		&:after{
			content: "";
			display: block;
			width: $gutter-large;
			height: $one;
			@include colors(&, "bg") {
				background-color: $lighter-grey;
			};
			margin: 0 auto;
		}
	}

	li{
		margin: $gutter 0;
		&:hover{
			&, p{
				@include colors(&);
			}
		}

		&:before{
			content: "";
			display: block;
			width: $gutter-large;
			height: $one;
			@include colors(&, "bg") {
				background-color: $lighter-grey;
			};
			margin: 0 auto;
		}
	}

}

.relations, %relations{
	@extend %relationship;

	ul:before, ul:after{
		content: "";
		display: block;
		width: $gutter-large;
		height: $one;
		@include colors(&, "bg") {
			background-color: $lighter-grey;
		};
		margin: 0 auto;
	}

	li{
		margin: $gutter-small 0; 
		&:before{
			display: none;
		}
	}
}


.liste-dartiste{
	// @extend %relations;

	> ul{
		@extend %flex-column-wrap;
	}
}

.short{
	b, strong{
		// @include colors(&);
	}
}