/* fotorama */
@import "fotorama-base.scss";
// shame
// 
.slideshowNg{
	position: relative;
	padding: 0;
	// max-height: rem-calc(662);

	h5:first-child{
		position: absolute;
		bottom: 100%;
		right: 0;
		padding-bottom: $gutter;
		padding-right: $gutter;
		color: $lighter-grey;
	}
}

.fotorama{
	width: 100%;

	.fotorama__nav{
		margin: 0 $gutter;
	}

	.fotorama__thumb-border{
		@include colors(&, "bd");
	}

	.fotorama__caption__wrap{
		font-family: $title-font;
		width: 100%;
		background: white;
		padding: 0 $gutter;
		padding-top: $gutter - $border-width;
		border-top: solid $border-width;
		@include colors(&, "bd");

		span:after{
			content: ' - ';
		}
	}

	&.fotorama--fullscreen{
		.fotorama__caption__wrap{
			background: black;
			color: white;
		}
	}

}